<div id="home-content">
  <h3 class="header">M&M collection of Strategy Games</h3>

  <button id="js-button">Click Me!</button>

  <div style="height: 50">
    <p>
      <span id="typed_test"></span>
    </p>
  </div>

  <div class="d-flex image-cards">
    <div class="image-segment">
      <p>Buy it now!</p>
      <div class="my-image">
        <%= image_tag "coh2", width: 200 %>
      </div>
    </div>

     <div class="image-segment">
      <p>Buy it now!</p>
      <div class="my-image">
        <%= image_tag "3k", width: 250 %>
      </div>
    </div>

     <div class="image-segment">
      <p>Buy it now!</p>
      <div class="my-image">
        <%= image_tag "iron", width: 200 %>
      </div>
    </div>

     <div class="image-segment">
      <p>Buy it now!</p>
      <div class="my-image">
        <%= image_tag "sc2", width: 200 %>
      </div>
    </div>

     <div class="image-segment">
      <p>Buy it now!</p>
      <div class="my-image">
        <%= image_tag "civ6", width: 200 %>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

